.main {
  background-color: #ea4335;
  min-height: 100vh;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container1 {
  width: 80%;
  /* max-width: 1320px; */
  margin: auto;
  height: fit-content;
  background-color: white;
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  border-radius: 31px;
  margin-top: 90px;
  padding-bottom: 30px;
}
.full {
  width: 55%;
  padding-top: 30px;
  margin: auto;
}
.photo {
  height: 100%;
}

.tl {
  padding: 8px 20px;
  background-color: #ea4335;
  width: fit-content;
  border-radius: 9999px;
  color: white;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
}

.name {
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
}

.desc {
  color: #808080;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.desc p {
  font-weight: 400;
}

.crossf {
  width: 80%;
  margin: auto;
  height: fit-content;
  /* background-color: white; */
  border-radius: 31px;
  /* display: flex; */
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* padding-top: 30px; */
}

.more {
  color: #808080;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
  font-size: 20px;
}

@media only screen and (max-width: 590px) {
  .container1 {
    width: 95%;
  }
  .crossf {
    width: 90%;
  }
  .full {
    width: 80%;
    margin-left: 20px;
  }
  .name {
    font-size: 30px;
  }
  .desc p {
    font-size: 15px;
    font-weight: 400;
  }
  .tl {
    padding: 4px 18px;
    background-color: #ea4335;
    width: fit-content;
    border-radius: 9999px;
    color: white;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
  }
  .more {
    font-size: 14px;
  }
}
